{% extends 'base.html' %}
{% block body %}
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='base.css') }}">
</head>
<ul class="nav nav-tabs" id="bar" >
    <li class="nav-item" id="bar-element">
        <a  class="nav-link" id="bar-link" href="/profile">Profile</a>
    </li>
    <li class="nav-item" id="bar-element">
        <a  class="nav-link" id="bar-link" href="/stocks">Stocks</a>
    </li>
    <li class="nav-item" id="bar-element">
        <a class="nav-link " id="bar-link" aria-current="page" href="/movers">Movers </a>
    </li >
    <li class="nav-item" id="bar-element">
        <a class="nav-link" id="bar-link" href="/gainers">Gainers </a>
    </li>
    <li class="nav-item" id="bar-element">
        <a class="nav-link active " id="bar-link" href="/losers">Losers</a>
    </l >
    <li class="nav-item" id="bar-element">
        <a class="nav-link" id="bar-link" href="/portfolio">Portfolio</a>
    </li>
</ul>
<div class="container my-3">
    <h2> Stock Details </h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ticker </th>
                <th scope="col">Open value </th>
                <th scope="col">Volume </th>
                <th scope="col">Day's P&L </th>
            </tr>
        </thead>
        
        {% for stock in losersList %}
        <tbody>
            <tr>
                <td><a href=/stockinfo/{{stock[0]}}>{{stock[0]}}</a></td>
                <td>{{stock[1]}}</td>
                <td>{{stock[5]}}</td>
                <td>{{(stock[1] - stock[6])/(100)}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}