{% extends 'base.html' %}
{% block body %}
<div class="container my-3">
    <h3> Your Profile </h3>
    <h6>{{date[0]}}, {{time[0]}}, {{day[0]}} </h6>
    <ul class="list-group">
        <li class="list-group-item active" aria-current="true"> {{session.name}}</li>
        <li class="list-group-item active" aria-current="true">{{amount[4]}}</li></li>
        <li class="list-group-item"> Net Profit: {{transactions[1]}}</li>
        <li class="list-group-item"> Net Lost: {{transactions[2]}}</li>
        <li class="list-group-item"> Amount Invested: {{amount[5]}}</li>
        <li class="list-group-item"> Postive transactions: {{transactions[3]}}</li>
        <li class="list-group-item"> Negative transactions: {{transactions[4]}}</li>
    </ul>
    {% if transactions[1] + transactions[2] > 0 %}
    <h3 style="color:red;">NET PROFIT/LOSS : {{transactions[1] + transactions[2]}}</h3>
    {%else%}
    <h3 style="color:green;">NET PROFIT/LOSS : {{transactions[1] + transactions[2]}}</h3>
    {%endif%}
</div>
<p><a href="{{ url_for('logout') }}">Logout</a></p>
{% endblock %}